

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

/* Header CSS */
.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
}

.rght-side {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.right-side a {
    color: #e5e7eb;
    text-decoration: none;
    margin: 5px;
    font-size: 18px;
}

.right-side ul {
    list-style-type: none;
    display: flex;
    align-content: center;
    margin-right: 100px;
}

.right-side li {
    padding: 0 20px;
}

.left-side {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin: 10px;
    flex: 1;
}

.left-side a {
    color: #f9faf8;
    text-decoration: none;
    margin: 5px;
    margin-left: 100px;
    font-size: 24px;
}


/* Section 1 CSS */
.section-1 {
    
    display: flex;
    flex-direction: row;
    margin: 100px;
    justify-content: center;
    gap: 100px;
    align-items: flex-start;
}

.section-1 .section-1-sub-1 {
    /* height: 100px;
    width: 300px; */
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.section-1-sub-1 .large-intro {
    font-size: 38px;
    margin: 0;
    color: #f9faf8;
}

.section-1-sub-1 .subtext {
    color: #f9faf8;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

.section-1-sub-1 .sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    width: 100px;
}

.section-1 .section-1-sub-2 {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-self: center;    
    background-color: gray;
}

.section-1-sub-2 img {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 400px;
    width: 400px;
}

/* Section 2 CSS */
.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background-color: #f9faf8;
    margin: 0;
}

.section-2 .info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: extra-bold;
    padding-top: 50px;
}

.section-2 .images-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin: 50px;
    /* gap: 20px; */
}

.img-sub-1,
.img-sub-2,
.img-sub-3,
.img-sub-4 {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 40px;
}

.section-2 img {
    border: 5px solid #3882f6;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.section-2 p {
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.section-2 .img-text {
    width: 100px;
}

/* Section 3 CSS */
.section-3 {
    background-color: #e5e7eb;
    padding: 100px;
}

.section-3 .quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.section-3 blockquote {
    font-size: 26px;
    font-style: italic;
}

.section-3 figcaption {
    margin-right: 70px;
    
} 